/* 整体样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
/* 容器样式 */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
/* 头部样式 */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* 导航样式 */
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}
/* 内容区样式 */
.section {
    height: 100vh;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}

.section h2 {
    margin-top: 0;
    animation: fadeIn 1s ease-in-out;
}

.section p, .section ul {
    animation: fadeIn 1.5s ease-in-out;
}

.section button {
    padding: 10px 20px;
    background: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s ease;
    animation: fadeIn 2s ease-in-out;
}

.section button:hover {
    background: #ff4500;
}
/* 二维码边框 */
#qrcode {
    border: 10px solid rgb(0, 247, 255); /* 蓝色边框，宽度为5px */
    border-radius: 15px;    /* 圆角半径为15px，您可以根据需要调整 */
    display: block;         /* 使图片成为块级元素，以便更好地控制布局 */
    margin: 20px auto;      /* 在图片周围添加一些外边距，并水平居中 */
    max-width: 100%;        /* 确保图片在小屏幕上不会溢出其容器 */
    height: auto;           /* 保持图片的原始宽高比 */
}

/* 动画效果，不透明度 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* 页脚样式 */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
